body{
    background: #081b29;
    
    background-size: contain;
    background-position: center;

}

.hero {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.hero-name {
    font-size: 55px;
    color: aquamarine;
    font-family: Arial;
    margin-bottom: 5px;
    text-shadow: 0 0 12px rgba(0,255,255,0.4);
}

.hero-title {
    font-size: 22px;
    color: rgb(22,184,233);
    letter-spacing: 1px;
    font-weight: 200;
    margin-top: 0;
    text-shadow: 0 0 6px rgba(22,184,233,0.3);
}

body {
    background: url('bg-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* smooth parallax effect */
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); /* slight dark overlay */
    z-index: -1;
}


.name {
    font-family: Arial;
    text-align: left;
    font-size: 50px;
    color: aquamarine;
}

.title{
    font-family: Arial;
    text-align: left;
    font-size: 30px;
    margin-bottom: 0px;
    color: rgb(22, 184, 233);
    
}

.LinkedIn{
    background-color: rgb(15, 110, 218);
    color: white;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 18px;
    
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.button-container button {
    margin: 0 10px; /* spacing between buttons */
}



.about{
    margin-top: 5px;
    margin-bottom: 25px;
    color: #9beff5;
    text-shadow: 0 0 6px rgba(155, 239, 245, 0.4);
    text-indent: 60px; 
}

.attributes{
    color: whitesmoke;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(237, 240, 242, 0.509);
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
}

.hidden{
    display: none;
}

#education b{
    color: rgb(22, 184, 233);
    display: inline-block;
    width: 100px;
    text-align: left;
}

#education {
    color: rgb(178, 181, 184);
    margin-left: 0px;
}

#workExperience c{
    font-family: Arial;
    text-align: left;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: aquamarine;

}

#workExperience b{
    color: rgb(22, 184, 233);
    display: inline-block;
    width: 100px;
    text-align: left;
}

#workExperience {
    color: rgb(178, 181, 184);
    margin-left: 0px;
}

#workExperience d{
    color: rgb(178, 181, 184);
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}

#projects b{
    color: rgb(22, 184, 233);
    display: inline-block;
    width: 100px;
    text-align: left;
}

#projects {
    color: rgb(178, 181, 184);
    margin-left: 0px;
}

#projects d{
    color: rgb(178, 181, 184);
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}
#projects c{
    font-family: Arial;
    text-align: left;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: aquamarine;

}

#skills b{
    color: rgb(22, 184, 233);
    display: inline-block;
    width: 250px;
    text-align: left;
}

#skills {
    color: rgb(178, 181, 184);
    margin-left: 0px;
}

.line {
    position: bottom;
    width: 50%;
    top: 50%;
    height: 1px;
    background-color: #fff;
    transform: translateY(-50%);
    margin-top: 50px;
    margin-left: 320px;
}

.contact {
    color: rgb(22, 184, 233);
    font-style: italic;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .name {
        font-size: 30px;
    }
    .title {
        font-size: 20px;
    }
    .about{
        font-size: 10px;
    }
    .attributes, .LinkedIn {
        padding: 8px 16px;
        margin-bottom: 5px;
    }
    .line {
        margin-top: 30px;
    }
}
